<%= search_form_for @q, url: exports_path  do |f| %>
  <div class="row">
    <div class="col">
      <%= f.search_field :name_cont, class: 'form-control', placeholder:"Name" %>
    </div>
    <div class="col">
      <%= f.search_field :cidade_nome_cont, class: 'form-control', placeholder: 'City' %>
    </div>
    <div class="col">
      <%= f.collection_select :cidade_estado_id_eq, states, :id, :nome, class: 'form-control' %>
    </div>
  </div>
  
  <%= f.submit %>
<% end %>